:root {
    --white: hsl(0, 0%, 100%);

    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);

    --outfit: "Outfit", sans-serif;
}

body {
    background-color: var(--slate-300);
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    height: 100vh;

}

.card {
    box-sizing: border-box;
    width: 320px;
    height: 499px;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.0477);
    padding: 16px 16px 40px;
    text-align: center;
}

.card img {
    width: 288px;
    height: 288px;
    border-radius: 20px;
}

.card h1 {
    font-family: var(--outfit);
    font-weight: 700;
    font-size: 22px;
    color: var(--slate-900);
}

.card p {
    font-family: var(--outfit);
    font-weight: 400;
    font-size: 15px;
    color: var(--slate-500);
    width: 85%;
    margin: auto;
}